.custom-file-input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-file-input-label {
  display: block;
  width: 100%;
  /* padding: 8px 12px; */
  background-color:#fff; /* Default background */
  /* border: 1px solid #ccc;    Default border */
  border-radius: 4px;
  cursor: pointer;
  /* color: #333; */
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease-in-out;
}

/* Hover */
.custom-file-input-label:hover {
  background-color: #e4e4e4;
}

/* On click/focus */
.custom-file-input-wrapper:focus-within .custom-file-input-label {
  border-color: #007bff;
  background-color: #fff; /* turns white on focus */
}
